<div class="container-fluid fontStyle" style="padding: 0px; ">
  <nav class="navbar navbar-default" style="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="navbar-header" style="width: 100%; padding: 0px">
            <a
              class="navbar-brand"
              href="/"
              style="text-align: center; width: 100%; font-size: 20px; padding: 0px; margin-top: 10px; margin-bottom: -10px; margin-left: 5px"
            >
              <img src="assets/logo.png" style="width: 100%" />
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <ul
            class="nav navbar-nav"
            style="display: inline; float: right"
            *ngIf="logged_items == false"
          >
            <li
              *ngFor="let menuitem of logged_out_menu; let i = index"
              [class.active]="selectedmenu == i + 1"
              (click)="selectMenu(i + 1)"
            >
              <a routerLink="/{{ menuitem.path }}" style="">{{
                menuitem.name
              }}</a>
              <div class="underline"></div>
            </li>
          </ul>
          <ul
            class="nav navbar-nav"
            style="display: inline; float: right"
            *ngIf="logged_items == true"
          >
            <li
              *ngFor="let menuitem of logged_in_menu; let i = index"
              [class.active]="selectedmenu == i + 1"
              (click)="selectMenu(i + 1)"
            >
              <a routerLink="/{{ menuitem.path }}" style="">{{
                menuitem.name
              }}</a>
              <div class="underline"></div>
            </li>
            <li>
              <a href="javascript:;" style="" (click)="logout()">Logout</a>
              <div class="underline"></div>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </nav>
</div>
<br /><br /><br />
<div class="container" style="padding: 25px;margin-bottom: 60px !important">
  <div *ngIf="ishome()">
    <app-home></app-home>
  </div>
  <router-outlet></router-outlet>
</div>
